[Unit]
Description=slave node for feed-gipeda, awaiting benchmark jobs from a master node.

[Service]
Type=simple
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/root/.local/bin"
ExecStart=/root/.local/bin/feed-gipeda --slave=1338:127.0.0.1:1337
User=benchmark-slave
Restart=on-failure

[Install]
WantedBy=multi-user.target

