[Unit]
Description=git pull /home/benchmark-master/.feed-gipeda

[Service]
Type=oneshot
ExecStart=/usr/bin/git -C /home/benchmark-master/.feed-gipeda pull
User=benchmark-master
