[Unit]
Description=git pull /home/benchmark-master/.feed-gipeda/ every 5 minutes

[Timer]
OnActiveSec=10s
OnUnitActiveSec=5m

[Install]
WantedBy=timers.target

